body, h1, h2, p, div, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4, #fbc2eb); /* 梦幻背景渐变 */
    background-size: 200% 200%;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  

  header {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #fff; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  main {
    position: relative; 
    width: 100%; 
    height: calc(100vh - 200px); 
    overflow: hidden; 
    background: transparent; 
  }
  
  
  footer {
    text-align: center;
    margin: 20px 0;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left, .right {
    flex: 1;
    overflow-y: auto;
  }
  
  .left {
    padding: 20px;
  }
  
  .right {
    padding: 40px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  }

  .medieval-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 15px;
    width: 100%; 
    padding:10px;
    height: auto; 
    box-sizing: border-box; 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center; 
    align-content: start; 
    overflow: visible; 
    pointer-events: auto; 
  }

  .medieval-pictures img{
    opacity: 80%;
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }